*{
    margin: 0rem;
    padding: 0rem;
    background-color: aqua;
    font-family: 'Franklin Gothic Medium';
    
}
.start_quiz_btn {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 10px;
    color: darkcyan;
    background-color:honeydew;
}
.next_question {
    background-color: honeydew;
    padding: 5px 7px;
    margin-left: 5rem;
    
}
#question_box {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    border: solid;
    padding: 10px 20px;
}

.answer_btn{
    background-color:aliceblue;
    display: flex;
    border-style: solid;
    margin: 3px;
    padding: 2px;
    width: 100%;
}
header {
    display: flex;
    justify-content: space-between;
}
.question_prompt {
    display: flex;
    align-items: center;
}

#timer {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 5rem;
    height: 3rem;
    border: solid;
    font-size: larger;
    font-weight: bolder;
    background-color:honeydew;
    margin: 5px;
}

.question_box header {
    width: 100%;
}
footer {
    display: flex;
    text-align: center;
}
.total_que {
    display: inline-flex;
}

/* hide sequence class for game function */
.hide {
    display: none !important;
}